body {
    background-image: url("https://th.bing.com/th/id/R.48cc69fa6159907e428fc492e1260a71?rik=oYMnuYjb2bWKCA&pid=ImgRaw&r=0");
}

.header {
    color: red;
    text-align: center;
    font-size: 10vh
}

.button {
    position: absolute;
    width: 70vw;
    height: 60vh;
    left: 15vw;
    background: blue;
    color: red;
    border-radius: 20px;
    text-shadow: 4px 4px darkblue;
}
.button:hover {
    cursor: pointer;
    background: darkblue;
}

.button-text {
    font-size: 15vh;
}

.amogus {
    position: absolute;
    right: 5vw;
    top: 4vh;
    width: 15vw;
    border-radius: 1vw;
    rotate: 45deg;
    transform: scaleX(-1);
}

.amoghost {
    position: absolute;
    right: 4vw;
    bottom: 10vh;
    width: 15vw;
    border-radius: 1vw;
    rotate: -225deg;
}