body {
    background: black;
}

.header {
    color: red;
    text-align: center;
    font-size: 10vh
}

.button {
    position: absolute;
    width: 70vw;
    height: 60vh;
    left: 15vw;
    background: blue;
    color: red;
    border-radius: 20px;
}
.button:hover {
    cursor: pointer;
    background: darkblue;
}

.button-text {
    font-size: 10vw
}