body {
    background: black;
}

.header {
    color: red;
    text-align: center;
    font-size: 10vh
}

.button {
    position: absolute;
    width: 70vw;
    height: 60vh;
    left: 15vw;
    background: blue;
    color: red;
    border-radius: 20px;
}
.button:hover {
    cursor: pointer;
    background: darkblue;
}

.button-text {
    font-size: 15vh;
}

.amogus {
    position: absolute;
    right: 4vw;
    top: 4vw;
    width: 15vw;
    border-radius: 1vw;
    rotate: 45deg;
    transform: scaleX(-1);
}

.amoghost {
    position: absolute;
    right: 4vw;
    bottom: 10vh;
    width: 15vw;
    border-radius: 1vw;
    rotate: -225deg;
}